VITE_KEYCLOAK_URL=https://auth-nonprod.gofive.co.th/auth/realms/onebear-dev
VITE_KEYCLOAK_CLIENT_ID=onebear-spa
VITE_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
